// Variables taken from Contentful (cf) site as inspiration
$cf-color-gray-text: #8091a5;
$cf-color-gray-border: #c5d2d8;
$cf-color-gray-empty-message: #a9b9c0;
$cf-margin: 1.6rem;

// Funcitonal color names
$color-heading: $cf-color-gray-text;
$color-border: $cf-color-gray-border;
$color-gray-empty: #F5F5F5;
$color-gray-empty-message: $cf-color-gray-empty-message;
